
<div class="welcome-container">
  <h1 class="topicm">thrifty...</h1>
  <div class="centralize">
    <%= link_to "Log_in", new_user_session_path , class: "link_to login"%>
    <%= link_to "sign_up", new_user_registration_path, class: "link_to login" %>
  </div>
</div>
