/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

:root {
  --blue: #3778c2;
  --green: #5fb523;
  --ash: #434b54;
  --black: #555e77;
  --white: #fff;
}

@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  font-family: "lato", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  background-color: var(--ash);
  height: 100vh;
}

main {
  width: 400px;
  background-color: rgb(244, 243, 243);
}

.heading {
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 2rem;
}

a {
  text-decoration: none;
}

.link_to {
  background-color: var(--blue);
  border-radius: 5px;
  box-shadow: rgba(44, 187, 99, 0.2) 0 -25px 18px -14px inset, rgba(44, 187, 99, 0.15) 0 1px 2px, rgba(44, 187, 99, 0.15) 0 2px 4px, rgba(44, 187, 99, 0.15) 0 4px 8px, rgba(44, 187, 99, 0.15) 0 8px 16px, rgba(44, 187, 99, 0.15) 0 16px 32px;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  color: var(--white);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin: 0;
}

.link_to:hover {
  box-shadow: rgba(44, 151, 187, 0.35) 0 -25px 18px -14px inset, rgba(44, 151, 187, 0.25) 0 1px 2px, rgba(44, 151, 187, 0.25) 0 2px 4px, rgba(44, 187, 99, 0.25) 0 4px 8px, rgba(44, 187, 99, 0.25) 0 8px 16px, rgba(44, 151, 99, 0.25) 0 16px 32px;
  transform: scale(1.05);
}

h1 {
  text-align: center;
}

.dropbtn,
.searchbtn {
  width: 1rem;
  height: 1rem;
  color: white;
}

i {
  width: 1rem;
  height: 1rem;
}

.fa-bars,
.fa-search,
.fa-arrow-left {
  font-size: 1.5rem;
}

.fa-search {
  margin-top: 1.2rem;
}

.fa-bars {
  margin-top: 0.4rem;
}

.headline-btn {
  display: flex;
  justify-content: flex-end;
  padding-right: 1rem;
}

/* dropdown */
.dropdown {
  position: relative;
  display: inline-block;
}

.deco {
  height: 22px;
  background-color: var(--blue);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--blue);
  min-width: 140px;
  margin: 10px -16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.nav-link {
  color: var(--white);
  width: 100%;
}

.nav-link:hover {
  background-color: var(--white);
  color: black;
}

.dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0.5rem 2rem 0.5rem 1rem;
  margin: 0;
  height: 4rem;
  background-color: var(--blue);
  width: 100%;
}

.extra-links-container {
  display: flex;
  justify-content: flex-end;
  background-color: var(--blue);
  padding: 0 1rem;
}

.extra-links {
  display: flex;
  justify-content: space-between;
  width: 65%;
  color: white;
  height: 3rem;
  align-items: flex-end;
  padding: 0;
}

.ancient {
  color: rgb(199, 194, 194);
}

.page-title {
  font-size: 2rem;
  margin-top: 0.4rem;
  color: #fff;
}

li {
  list-style: none;
}
