:root {
  --blue: #3778c2;
  --green: #5fb523;
  --ash: #434b54;
  --black: #555e77;
  --white: #fff;
}

#categories,
#activities {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0.5rem;
}

.category {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--black);
  box-shadow: rgba(60, 64, 67, 0.3) 0 1px 2px 0, rgba(60, 64, 67, 0.15) 0 1px 3px 1px;
  min-height: 4rem;
  padding: 0.5rem;
  background-color: var(--white);
}

.icon {
  width: 5rem;
  height: 5rem;
  border: 1px solid rgb(231, 226, 226);
  border-radius: 5px;
}

.icon-name {
  display: flex;
  line-height: normal;
  align-items: center;
  gap: 1rem;
  width: 80%;
}

.ctime {
  font-size: 12px;
}

.tamount {
  font-weight: 600;
  align-self: flex-start;
}

.newcat {
  display: flex;
  justify-content: space-evenly;
}

.cat-btn-container {
  background-color: var(--green);
  padding: 1px 2px;
  width: 100%;
  margin-top: 2rem;
}

.cat-btn {
  width: 100%;
  padding: 1rem;
  background-color: var(--green);
  border: 1px solid white;
  border-radius: 3px;
  color: var(--white);
  z-index: 2;
}

.cat-btn:hover {
  background-color: var(--white);
  color: var(--ash);
  font-size: 1rem;
}

.back_to {
  border: none;
  background: transparent;
  color: white;
}

/* activities */

.activity {
  box-shadow: rgba(59, 170, 255, 0.101) 0 1px 2px 0, rgba(60, 64, 67, 0.15) 0 1px 3px 1px;
  padding: 0.5rem 1.5rem;
  display: flex;
  justify-content: space-between;
}

.tamountE {
  display: flex;
  justify-content: center;
}

.delete {
  margin: 1rem auto;
}

.delete:hover {
  background-color: rgba(255, 0, 0, 0.869);
}

.links {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.button_to {
  margin: 1rem;
}

.note {
  text-align: center;
  font-style: italic;
  font-size: 2rem;
  color: var(--ash);
}

/* new activities */
.back {
  margin-left: 0.7rem;
}
