
.welcome-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  position: relative;
}

.centralize {
  position: absolute;
  top: 1rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 1rem;
}

.login {
  width: 25%;
}

.topicm {
  font-size: 3rem;
  font-weight: 800;
  margin-top: 5%;
}

.sign-up {
  background-color: transparent !important;
  color: black;
}
