<% content_for :page_title, "CATEGORIES" %>

<div  class="headline-btn">
  <%= button_to "New category", new_category_path, class: "link_to newcat", method: :get %>
</div>

<%if @categories.empty?%>
  <p class="note">You have no categories yet!</p>
<%end%>

<div id="categories">
  <% @categories.each do |category| %>
    <%= link_to render(category), category_path(category) %>
  <% end %>
</div>
