<p style="color: green"><%= notice %></p>

<h1>Categories</h1>

<%= button_to "New category", new_category_path, class: "link_to newcat", method: :get %>

<div id="categories">
  <% @categories.each do |category| %>
    <%= link_to render(category), category_path(category) %>
  <% end %>
</div>
