<p style="color: green"><%= notice %></p>

<% content_for :page_title, "CATEGORIES" %>

<div  class="headline-btn">
  <%= button_to "New category", new_category_path, class: "link_to newcat", method: :get %>
</div>

<div id="categories">
  <% @categories.each do |category| %>
    <%= link_to render(category), category_path(category) %>
  <% end %>
</div>
