<% content_for :page_title, "NEW CATEGORY" %>

<div class="headline-btn">
  <%= link_to " < ", categories_path, class:"link_to back"%>
</div>
<div class="new_cat">
    <%= render "form", category: @category %>
</div>
