<h1>New activity</h1>

<div>
  <%= link_to "<", category_path(@category) , class:"link_to back" %>
</div>

<% content_for :page_title, "New Expense" %>
<div class = "new-exp">
    <div class="new_cat">
        <%= render "form", activity: @activity %>
    </div>
</div>
<br>
