
<% content_for :page_title, "NEW ACTIVITY" %>

<div class = "new_act">
  <h1>Add a new Transaction</h1>
  <div class="headline-btn">
    <%= link_to "<", category_path(@category) , class:"link_to back" %>
  </div>
  <%= render "form", activity: @activity %>
</div>
<br>
